* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  box-shadow: 0px 5px 10px rgba(105, 105, 105, 0.644);
}
header .barra-superior {
  background-color: #1CD1B0;
  padding: 5px 20px;
  font-weight: bold;
}
header .logo-container {
  padding: 20px;
}
header .logo-container h1 {
  font-weight: 600;
}

header, footer, button {
  background-color: #00669F;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  padding: 30px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 25%;
  text-align: center;
  display: inline-block;
  margin: 4%;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 5px 10px rgba(105, 105, 105, 0.644);
}
main .card .card-header {
  position: relative;
  background-size: cover;
  height: 150px;
  border-radius: 15px 15px 0 0;
}
main .card .card-header .batman {
  background-image: url("img/batman-background.png");
}
main .card .card-header .harley {
  background-image: url("img/harley-background.png");
}
main .card .card-header .heart-ico {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}
main .card .card-header .profile-photo {
  border-radius: 50px;
  height: 110px;
  position: relative;
  top: 90px;
  box-shadow: 0px 5px 10px rgba(105, 105, 105, 0.644);
}
main .card .card-body {
  background-color: #e7e7e7;
  padding: 60px 20px 20px;
}
main .card .card-body h3 {
  margin-top: 5px;
  font-size: 2em;
  font-weight: 300;
}
main .card .card-body p {
  text-align: left;
  margin: 15px 0 30px;
  color: #3f3f3f;
  font-weight: 500;
}
main .card .card-body button {
  cursor: pointer;
}

button {
  border: none;
  padding: 20px 40px;
  color: white;
}

.button-plus {
  position: fixed;
  background-color: #00669F;
  font-size: 48px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  color: white;
  bottom: 50%;
  right: 10px;
  cursor: pointer;
}

footer {
  padding: 20px;
  color: white;
  width: 100%;
}

.form-container {
  background-color: #00669F;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5vh 10vw;
  width: 70vw;
  color: white;
}
.form-container h1, .form-container p {
  width: 100%;
  text-align: center;
}
.form-container form {
  display: flex;
}
.form-container .columna {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 12.5px;
}
.form-container .columna > * {
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  border: none;
}
.form-container hr {
  border: 1px white solid !important;
  padding: 0 !important;
}
.form-container .enviar {
  background-color: #1CD1B0;
  border-radius: 23px;
  padding: 20px 50px;
  font-size: 40px;
  font-weight: 700;
  color: black;
}
.form-container .enviar:hover {
  background-color: #001d2d;
  color: white;
}
.form-container .input-group {
  display: flex;
  padding: 5px;
}

@media (max-width: 769px) {
  main {
    padding: 30px;
  }

  .card {
    width: 40%;
  }
}
@media (max-width: 525px) {
  .card {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */